body {
    font-size: 1.25em;
    background-color: slategray;
}

/* header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: lightgrey;
} */

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 5px;
    text-align: center;
}

.banner {
    width: 100%;
}